doctype html

html.no-js

  include ./includes/header.jade

  body

    include ./includes/main-menu.jade

    header.masthead
      .row.align-middle
        .small-12.columns
          h1 cv

    section.introduction
      .row.align-center
        .small-10.medium-8.large-6.columns
          h2 All the formal stuff

    section.education
      .row.align-center
        .small-12.medium-8.large-6.columns
          h2 Where I learned (most) of what I know

      - var educationItems = [{title: 'BE in Computer Sciences', place: 'Kungliga Tekniska Högskolan', amount: '180 ECTS', image: 'kth.svg'}, {title: 'BSc in Business & Economics', place: 'from the Stockholm School of Economics', amount: '180 ECTS', image: 'sse.svg'}, {title: 'International Relations', place: 'Stockholm University', amount: '30 ECTS', image: 'su.svg'}, {title: 'Web Design & Programming', place: 'Team Treehouse', amount: 'about 100 hours of effective training', image: 'treehouse.svg'}]

      //- Use the index value to determine when to add the .right class
      each item, index in educationItems
        if index % 2 === 1
          .row.align-right
            .small-12.medium-2.large-3.columns.medium-order-2
              img(src="img/#{item.image}").cv.right
            .small-12.medium-7.large-6.columns.medium-order-1
              h3.right #{item.title}
              h4.right #{item.place}
              p.right #{item.amount}
        else
          .row
            .small-12.medium-2.large-3.columns
              img(src="img/#{item.image}").cv
            .small-12.medium-7.large-6.columns
              h3 #{item.title}
              h4 #{item.place}
              p #{item.amount}

    section.work-experience
      .row.align-center
        .small-12.medium-8.large-6.columns
          h2 What I have worked with in the past

      - var workExperienceItems = [{title: 'Preservations & Operations Specialist', place: 'Apple Retail', time: 'May 2016 - Present', description: 'As a Preservations and Operations Specialist responsible for making sure the ongoing operations of the store runs smoothly. This involves everything from liaising with contractors to planning of is-store projects of various kinds, to assisting the leadership team and hosting recruitment events and on-boardings of new employees.', image: 'apple.svg'}, {title: 'HR Administrator', place: 'Apple Retail', time: 'Jan 2015 - May 2016', description: 'As an HR Admin I am responsible for developing and executing scheduling strategies in order to leverage the teams’ skills in the best way possible as well as assisting in recruitment.', image: 'apple.svg'}, {title: 'Visuals Specialist', place: 'Apple Retail', time: 'Aug 2012 - Jan 2015', description: 'As a Visuals Specialist responsible for guiding and inspiring colleagues in maintaining the visual standard in the store as well as responsible for planning and executing when visual changes in the store are due.', image: 'apple.svg'}, {title: 'Project Manager', place: 'Students\' Nobel NightCap', time: 'Nov 2013 - May 2015', description: 'Successfully recruited and led an international team of ultimately 300 students who planned and executed the after party to the Nobel Banquet in Stockholm. We hosted 1400 guests, among them 8 Nobel Laureates, representatives from the Swedish Government and business life.<br><br>The project had a turnover of approx 1.5 million SEK.', image: 'nnc.svg'}, {title: 'Vice President', place: 'The Student Association at the Stockholm School of Economics', time: 'Mar 2011 - Mar 2012', description: 'Elected by the approx. 2000 members to be responsible for the ongoing operations within the Student Association as well as internal training and guidance for new projects. Manged a budget of approx. 1.2 million SEK. Also accrued and implemented a new, digital, membership management system for the Student Association.', image: 'sasse.svg'}]

      each item, index in workExperienceItems
        if index % 2 === 1
          .row.align-right
            .small-12.medium-2.large-3.columns.medium-order-2
              img(src="img/#{item.image}").cv.right
            .small-12.medium-7.large-6.columns.medium-order-1
              h3.right #{item.title}
              p.right #{item.place}
              p.right #{item.time}
              p.right
                != item.description
        else
          .row
            .small-12.medium-2.large-3.columns
              img(src="img/#{item.image}").cv
            .small-12.medium-7.large-6.columns
              h3 #{item.title}
              p #{item.place}
              p #{item.time}
              p 
                != item.description

    section.extra-curricular
      .row.align-center
        .small-12.medium-8.large-6.columns
          h2 Other things I have done

      - var extraCurricularItems = [{title: 'Speaker of the Council', place: 'Student Association at the Stockholm School of Economics', time: 'March 2014 - March 2015', description: 'As Speaker, I was responsible for leading meetings of the Stucent Council, the highest decision making body of the Student Association. Additionally, I was also responsible for leading the internal Statutory Rules Interpretations Committee of the Student Association.', image: 'sasse.svg'}, {title: 'Head of Logistics', place: 'Students\' Nobel Nightcap', time: 'April 2010 - Jan 2011', description: 'Responsible for arranging and planning the logistics for the project. Coordinated transports of goods and personel before, during and after the event. Also responsible for the internal communication of the project. Led a team of 10.', image: 'nnc.svg'}]

      each item, index in extraCurricularItems
        if index % 2 === 1
          .row.align-right
            .small-12.medium-2.large-3.columns.medium-order-2
              img(src="img/#{item.image}").cv.right
            .small-12.medium-7.large-6.columns.medium-order-1
              h3.right #{item.title}
              p.right #{item.place}
              p.right #{item.time}
              p.right
                != item.description
        else
          .row
            .small-12.medium-2.large-3.columns
              img(src="img/#{item.image}").cv
            .small-12.medium-7.large-6.columns
              h3 #{item.title}
              p #{item.place}
              p #{item.time}
              p
                != item.description

  include ./includes/footer.jade
