//- Template for portfolio items

doctype html

html.no-js

  include ./../includes/header.jade

  //- Variables for use in template
  block variables
    - var pageTitle    = null;
    - var folderName   = null;
    - var fileName     = null;
    - var fileSize     = null;

    //- override template variable from header
    - isPortfolioTemplate = true

  body
    include ./../includes/main-menu.jade


    section.masthead
      .row.align-middle
        .small-12.columns
          block title
            h1 #{pageTitle}

    section.introduction
      .row.align-center
        .small-12.medium-8.large-6.xlarge-5.columns
          block introduction
            p generic introduction

    section.preview
      .row.align-center
        .small-12.medium-8.columns
          a(href="/../img/portfolio/#{folderName}/#{fileName}")
            div(data-interchange="[/../img/portfolio/#{folderName}/small@2x.png, small], [/../img/portfolio/#{folderName}/medium@2x.png, medium], [/../img/portfolio/#{folderName}/large@2x.png, large]").preview-image
          .image-meta
            p.filename Filename: #{fileName}
            p.filesize Filesize: #{fileSize}
            p.click-info Click on the image to see it in full size

    section.content
      .row.align-center
        .small-12.medium-8.large-6.columns
          block content
            p generic content to be overridden

    section.link
      .row.align-center
        .small-12.columns
          a(href="../portfolio.html").button.hollow.expanded
            i.cine-icon.cine-icon-angle-left 
            |  Back to portfolio

    include ./../includes/footer.jade
