//- Template for portfolio items

doctype html

html.no-js

  include ./../includes/header.jade

  //- Variables for use in template
  block variables
    - var itemName = null;
    - var fileName = null;
    - var fileSize = null;

    //- override template variable from header
    - isPortfolioTemplate = true

  body
    include ./../includes/main-menu.jade


    section.masthead
      .row.align-middle
        .small-12.columns
          block title
            h1 #{itemName}

    section.introduction
      .row.align-center
        .small-12.medium-8.large-6.xlarge-5.columns
          block introduction
            p generic introduction

    section.preview
      .row.align-center
        .small-12.medium-8.columns
          a(href="/../img/portfolio/#{itemName}/#{fileName}")
            div(data-interchange="[/../img/portfolio/#{itemName}/small@2x.png, small], [/../img/portfolio/#{itemName}/medium@2x.png, medium], [/../img/portfolio/#{itemName}/large@2x.png, large]").preview-image
          .image-meta
            p.filename Filename: #{fileName}
            p.filesize Filesize: #{fileSize}
            p.click-info Click on the image to see it in full size



    include ./../includes/footer.jade
